@model IEnumerable<Examen.ApplicationCore.Domain.Avocat>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreNom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateEmbauche)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreNom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEmbauche)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AvocatId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AvocatId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AvocatId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
