@model Examen.ApplicationCore.Domain.Avocat

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Avocat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreNom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreNom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateEmbauche)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateEmbauche)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AvocatId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
